/* Remove horizontal scroll */
html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Blob shape (ANIMASI-HEADER) */
.blob-wrapper img {
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
    transition: border-radius 1.5s ease;
}

.blob-wrapper:hover img {
    border-radius: 60% 40% 30% 70% / 50% 60% 40% 50%;
}

/* tentang */
.tentang {
    background-image: url("../images/tentang.jpeg");
    background-size: cover;
    background-position: center 80%; /* geser sedikit ke bawah */
    background-attachment: fixed;
    filter: grayscale(100%);
}

/* footer */
footer {
    background-image: url("../images/footer.png");
}
